<ion-header>
  <ion-toolbar [color]="primary">
    <ion-title>
      Personajes StarWars
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button color="primary"
            (click)="save()">
              Guardar Datos
  </ion-button>
  <ion-button color="primary"
            (click)="consulta()">
              Consulta Datos
  </ion-button>
  <br><br>
<ion-list>
    <table>
      <tr>
        <th>Nombre: </th><br>
        <th>Año de nacimiento: </th><br>
      </tr>

  <br>
  <tr *ngFor="let data of datos">
    <th>{{ data.name }}</th><br><br>
    <th>{{ usuario.birth_year }}</th><br><br>
  </tr>
    </table>
</ion-list>
</ion-content>
